2023-09-07 12:50:21,565 [INFO] [<module>:116] Call: plan_multiple.py --domains blocks gripper
2023-09-07 12:50:21,575 [INFO] [_main:57] Model '../lightning_logs/gripper/version_0/checkpoints/epoch=15-step=576-validation_loss=0.007350483909249306.ckpt' loaded in 0.011 second(s)
2023-09-07 12:50:21,575 [INFO] [_main:59] Loading PDDL files: domain='../data/pddl/gripper/test/domain.pddl', problem='../data/pddl/gripper/test/prob08.pddl'
2023-09-07 12:50:21,666 [INFO] [load_pddl_problem_with_augmented_states:60] Predicates: static={'room', 'gripper', 'ball'}, dynamic={'at-robby', 'at', 'free', 'carry'}
2023-09-07 12:50:21,667 [INFO] [_main:64] Executing policy (max_length=500)
2023-09-07 12:50:21,667 [INFO] [compute_traces_with_augmented_states:444] 22 object(s), obj_encoding={'rooma': 0, 'roomb': 1, 'ball18': 2, 'ball17': 3, 'ball16': 4, 'ball15': 5, 'ball14': 6, 'ball13': 7, 'ball12': 8, 'ball11': 9, 'ball10': 10, 'ball9': 11, 'ball8': 12, 'ball7': 13, 'ball6': 14, 'ball5': 15, 'ball4': 16, 'ball3': 17, 'ball2': 18, 'ball1': 19, 'left': 20, 'right': 21, 0: 'rooma', 1: 'roomb', 2: 'ball18', 3: 'ball17', 4: 'ball16', 5: 'ball15', 6: 'ball14', 7: 'ball13', 8: 'ball12', 9: 'ball11', 10: 'ball10', 11: 'ball9', 12: 'ball8', 13: 'ball7', 14: 'ball6', 15: 'ball5', 16: 'ball4', 17: 'ball3', 18: 'ball2', 19: 'ball1', 20: 'left', 21: 'right'}
2023-09-07 12:50:21,667 [INFO] [policy_search_with_augmented_states:369] goals=(at(ball18,roomb) and at(ball17,roomb) and at(ball16,roomb) and at(ball15,roomb) and at(ball14,roomb) and at(ball13,roomb) and at(ball12,roomb) and at(ball11,roomb) and at(ball10,roomb) and at(ball9,roomb) and at(ball8,roomb) and at(ball7,roomb) and at(ball6,roomb) and at(ball5,roomb) and at(ball4,roomb) and at(ball3,roomb) and at(ball2,roomb) and at(ball1,roomb))
2023-09-07 12:50:21,772 [INFO] [policy_search_with_augmented_states:406] No applicable action that yields unvisited state for current_state=Model[at(ball1,rooma), at(ball10,rooma), at(ball11,rooma), at(ball12,rooma), at(ball13,rooma), at(ball14,rooma), at(ball15,rooma), at(ball16,rooma), at(ball17,rooma), at(ball18,rooma), at(ball2,rooma), at(ball3,rooma), at(ball4,rooma), at(ball5,rooma), at(ball6,rooma), at(ball7,rooma), at(ball8,rooma), at(ball9,rooma), at-robby(roomb), ball(ball1), ball(ball10), ball(ball11), ball(ball12), ball(ball13), ball(ball14), ball(ball15), ball(ball16), ball(ball17), ball(ball18), ball(ball2), ball(ball3), ball(ball4), ball(ball5), ball(ball6), ball(ball7), ball(ball8), ball(ball9), free(left), free(right), gripper(left), gripper(right), room(rooma), room(roomb)]
2023-09-07 12:50:21,774 [INFO] [policy_search_with_augmented_states:407] Applicable actions = [move(roomb, roomb), move(roomb, rooma)]
2023-09-07 12:50:21,774 [INFO] [_main:70] 1 executed action(s) and 38 state evaluations(s) in 0.108 second(s)
2023-09-07 12:50:21,775 [INFO] [_main:75] [1m[31mFailed to find a plan for ../data/pddl/gripper/test/prob08.pddl[0m
2023-09-07 12:50:21,775 [INFO] [_main:81] 1: move(rooma, roomb) (value change: 81.45 -> 68.21 D)
2023-09-07 12:50:21,775 [INFO] [<module>:123] All tasks completed in 26.486 second(s)
2023-09-08 08:52:31,098 [INFO] [<module>:116] Call: plan_multiple.py --domains blocks gripper delivery
2023-09-08 08:52:31,109 [INFO] [_main:57] Model '../lightning_logs/gripper/version_0/checkpoints/epoch=10-step=396-validation_loss=0.018513213843107224.ckpt' loaded in 0.011 second(s)
2023-09-08 08:52:31,109 [INFO] [_main:59] Loading PDDL files: domain='../data/pddl/gripper/test/domain.pddl', problem='../data/pddl/gripper/test/prob08.pddl'
2023-09-08 08:52:31,196 [INFO] [load_pddl_problem_with_augmented_states:60] Predicates: static={'room', 'gripper', 'ball'}, dynamic={'at', 'at-robby', 'carry', 'free'}
2023-09-08 08:52:31,197 [INFO] [_main:64] Executing policy (max_length=500)
2023-09-08 08:52:31,197 [INFO] [compute_traces_with_augmented_states:444] 22 object(s), obj_encoding={'rooma': 0, 'roomb': 1, 'ball18': 2, 'ball17': 3, 'ball16': 4, 'ball15': 5, 'ball14': 6, 'ball13': 7, 'ball12': 8, 'ball11': 9, 'ball10': 10, 'ball9': 11, 'ball8': 12, 'ball7': 13, 'ball6': 14, 'ball5': 15, 'ball4': 16, 'ball3': 17, 'ball2': 18, 'ball1': 19, 'left': 20, 'right': 21, 0: 'rooma', 1: 'roomb', 2: 'ball18', 3: 'ball17', 4: 'ball16', 5: 'ball15', 6: 'ball14', 7: 'ball13', 8: 'ball12', 9: 'ball11', 10: 'ball10', 11: 'ball9', 12: 'ball8', 13: 'ball7', 14: 'ball6', 15: 'ball5', 16: 'ball4', 17: 'ball3', 18: 'ball2', 19: 'ball1', 20: 'left', 21: 'right'}
2023-09-08 08:52:31,197 [INFO] [policy_search_with_augmented_states:369] goals=(at(ball18,roomb) and at(ball17,roomb) and at(ball16,roomb) and at(ball15,roomb) and at(ball14,roomb) and at(ball13,roomb) and at(ball12,roomb) and at(ball11,roomb) and at(ball10,roomb) and at(ball9,roomb) and at(ball8,roomb) and at(ball7,roomb) and at(ball6,roomb) and at(ball5,roomb) and at(ball4,roomb) and at(ball3,roomb) and at(ball2,roomb) and at(ball1,roomb))
2023-09-08 08:52:31,302 [INFO] [policy_search_with_augmented_states:406] No applicable action that yields unvisited state for current_state=Model[at(ball1,rooma), at(ball10,rooma), at(ball11,rooma), at(ball12,rooma), at(ball13,rooma), at(ball14,rooma), at(ball15,rooma), at(ball16,rooma), at(ball17,rooma), at(ball18,rooma), at(ball2,rooma), at(ball3,rooma), at(ball4,rooma), at(ball5,rooma), at(ball6,rooma), at(ball7,rooma), at(ball8,rooma), at(ball9,rooma), at-robby(roomb), ball(ball1), ball(ball10), ball(ball11), ball(ball12), ball(ball13), ball(ball14), ball(ball15), ball(ball16), ball(ball17), ball(ball18), ball(ball2), ball(ball3), ball(ball4), ball(ball5), ball(ball6), ball(ball7), ball(ball8), ball(ball9), free(left), free(right), gripper(left), gripper(right), room(rooma), room(roomb)]
2023-09-08 08:52:31,304 [INFO] [policy_search_with_augmented_states:407] Applicable actions = [move(roomb, rooma), move(roomb, roomb)]
2023-09-08 08:52:31,304 [INFO] [_main:70] 1 executed action(s) and 38 state evaluations(s) in 0.108 second(s)
2023-09-08 08:52:31,304 [INFO] [_main:75] [1m[31mFailed to find a plan for ../data/pddl/gripper/test/prob08.pddl[0m
2023-09-08 08:52:31,304 [INFO] [_main:81] 1: move(rooma, roomb) (value change: 76.84 -> 68.94 D)
2023-09-08 08:52:31,305 [INFO] [<module>:123] All tasks completed in 94.467 second(s)
