2023-09-07 12:50:23,330 [INFO] [<module>:116] Call: plan_multiple.py --domains blocks gripper
2023-09-07 12:50:23,341 [INFO] [_main:57] Model '../lightning_logs/gripper/version_0/checkpoints/epoch=15-step=576-validation_loss=0.007350483909249306.ckpt' loaded in 0.011 second(s)
2023-09-07 12:50:23,341 [INFO] [_main:59] Loading PDDL files: domain='../data/pddl/gripper/test/domain.pddl', problem='../data/pddl/gripper/test/prob11.pddl'
2023-09-07 12:50:23,453 [INFO] [load_pddl_problem_with_augmented_states:60] Predicates: static={'room', 'gripper', 'ball'}, dynamic={'at-robby', 'at', 'free', 'carry'}
2023-09-07 12:50:23,453 [INFO] [_main:64] Executing policy (max_length=500)
2023-09-07 12:50:23,453 [INFO] [compute_traces_with_augmented_states:444] 28 object(s), obj_encoding={'rooma': 0, 'roomb': 1, 'ball24': 2, 'ball23': 3, 'ball22': 4, 'ball21': 5, 'ball20': 6, 'ball19': 7, 'ball18': 8, 'ball17': 9, 'ball16': 10, 'ball15': 11, 'ball14': 12, 'ball13': 13, 'ball12': 14, 'ball11': 15, 'ball10': 16, 'ball9': 17, 'ball8': 18, 'ball7': 19, 'ball6': 20, 'ball5': 21, 'ball4': 22, 'ball3': 23, 'ball2': 24, 'ball1': 25, 'left': 26, 'right': 27, 0: 'rooma', 1: 'roomb', 2: 'ball24', 3: 'ball23', 4: 'ball22', 5: 'ball21', 6: 'ball20', 7: 'ball19', 8: 'ball18', 9: 'ball17', 10: 'ball16', 11: 'ball15', 12: 'ball14', 13: 'ball13', 14: 'ball12', 15: 'ball11', 16: 'ball10', 17: 'ball9', 18: 'ball8', 19: 'ball7', 20: 'ball6', 21: 'ball5', 22: 'ball4', 23: 'ball3', 24: 'ball2', 25: 'ball1', 26: 'left', 27: 'right'}
2023-09-07 12:50:23,453 [INFO] [policy_search_with_augmented_states:369] goals=(at(ball24,roomb) and at(ball23,roomb) and at(ball22,roomb) and at(ball21,roomb) and at(ball20,roomb) and at(ball19,roomb) and at(ball18,roomb) and at(ball17,roomb) and at(ball16,roomb) and at(ball15,roomb) and at(ball14,roomb) and at(ball13,roomb) and at(ball12,roomb) and at(ball11,roomb) and at(ball10,roomb) and at(ball9,roomb) and at(ball8,roomb) and at(ball7,roomb) and at(ball6,roomb) and at(ball5,roomb) and at(ball4,roomb) and at(ball3,roomb) and at(ball2,roomb) and at(ball1,roomb))
2023-09-07 12:50:23,618 [INFO] [policy_search_with_augmented_states:406] No applicable action that yields unvisited state for current_state=Model[at(ball1,rooma), at(ball10,rooma), at(ball11,rooma), at(ball12,rooma), at(ball13,rooma), at(ball14,rooma), at(ball15,rooma), at(ball16,rooma), at(ball17,rooma), at(ball18,rooma), at(ball19,rooma), at(ball2,rooma), at(ball20,rooma), at(ball21,rooma), at(ball22,rooma), at(ball23,rooma), at(ball24,rooma), at(ball3,rooma), at(ball4,rooma), at(ball5,rooma), at(ball6,rooma), at(ball7,rooma), at(ball8,rooma), at(ball9,rooma), at-robby(roomb), ball(ball1), ball(ball10), ball(ball11), ball(ball12), ball(ball13), ball(ball14), ball(ball15), ball(ball16), ball(ball17), ball(ball18), ball(ball19), ball(ball2), ball(ball20), ball(ball21), ball(ball22), ball(ball23), ball(ball24), ball(ball3), ball(ball4), ball(ball5), ball(ball6), ball(ball7), ball(ball8), ball(ball9), free(left), free(right), gripper(left), gripper(right), room(rooma), room(roomb)]
2023-09-07 12:50:23,621 [INFO] [policy_search_with_augmented_states:407] Applicable actions = [move(roomb, roomb), move(roomb, rooma)]
2023-09-07 12:50:23,621 [INFO] [_main:70] 1 executed action(s) and 50 state evaluations(s) in 0.168 second(s)
2023-09-07 12:50:23,621 [INFO] [_main:75] [1m[31mFailed to find a plan for ../data/pddl/gripper/test/prob11.pddl[0m
2023-09-07 12:50:23,621 [INFO] [_main:81] 1: move(rooma, roomb) (value change: 107.81 -> 90.33 D)
2023-09-07 12:50:23,622 [INFO] [<module>:123] All tasks completed in 28.333 second(s)
2023-09-08 08:52:32,812 [INFO] [<module>:116] Call: plan_multiple.py --domains blocks gripper delivery
2023-09-08 08:52:32,823 [INFO] [_main:57] Model '../lightning_logs/gripper/version_0/checkpoints/epoch=10-step=396-validation_loss=0.018513213843107224.ckpt' loaded in 0.011 second(s)
2023-09-08 08:52:32,823 [INFO] [_main:59] Loading PDDL files: domain='../data/pddl/gripper/test/domain.pddl', problem='../data/pddl/gripper/test/prob11.pddl'
2023-09-08 08:52:32,926 [INFO] [load_pddl_problem_with_augmented_states:60] Predicates: static={'room', 'gripper', 'ball'}, dynamic={'at', 'at-robby', 'carry', 'free'}
2023-09-08 08:52:32,926 [INFO] [_main:64] Executing policy (max_length=500)
2023-09-08 08:52:32,926 [INFO] [compute_traces_with_augmented_states:444] 28 object(s), obj_encoding={'rooma': 0, 'roomb': 1, 'ball24': 2, 'ball23': 3, 'ball22': 4, 'ball21': 5, 'ball20': 6, 'ball19': 7, 'ball18': 8, 'ball17': 9, 'ball16': 10, 'ball15': 11, 'ball14': 12, 'ball13': 13, 'ball12': 14, 'ball11': 15, 'ball10': 16, 'ball9': 17, 'ball8': 18, 'ball7': 19, 'ball6': 20, 'ball5': 21, 'ball4': 22, 'ball3': 23, 'ball2': 24, 'ball1': 25, 'left': 26, 'right': 27, 0: 'rooma', 1: 'roomb', 2: 'ball24', 3: 'ball23', 4: 'ball22', 5: 'ball21', 6: 'ball20', 7: 'ball19', 8: 'ball18', 9: 'ball17', 10: 'ball16', 11: 'ball15', 12: 'ball14', 13: 'ball13', 14: 'ball12', 15: 'ball11', 16: 'ball10', 17: 'ball9', 18: 'ball8', 19: 'ball7', 20: 'ball6', 21: 'ball5', 22: 'ball4', 23: 'ball3', 24: 'ball2', 25: 'ball1', 26: 'left', 27: 'right'}
2023-09-08 08:52:32,926 [INFO] [policy_search_with_augmented_states:369] goals=(at(ball24,roomb) and at(ball23,roomb) and at(ball22,roomb) and at(ball21,roomb) and at(ball20,roomb) and at(ball19,roomb) and at(ball18,roomb) and at(ball17,roomb) and at(ball16,roomb) and at(ball15,roomb) and at(ball14,roomb) and at(ball13,roomb) and at(ball12,roomb) and at(ball11,roomb) and at(ball10,roomb) and at(ball9,roomb) and at(ball8,roomb) and at(ball7,roomb) and at(ball6,roomb) and at(ball5,roomb) and at(ball4,roomb) and at(ball3,roomb) and at(ball2,roomb) and at(ball1,roomb))
2023-09-08 08:52:33,080 [INFO] [policy_search_with_augmented_states:406] No applicable action that yields unvisited state for current_state=Model[at(ball1,rooma), at(ball10,rooma), at(ball11,rooma), at(ball12,rooma), at(ball13,rooma), at(ball14,rooma), at(ball15,rooma), at(ball16,rooma), at(ball17,rooma), at(ball18,rooma), at(ball19,rooma), at(ball2,rooma), at(ball20,rooma), at(ball21,rooma), at(ball22,rooma), at(ball23,rooma), at(ball24,rooma), at(ball3,rooma), at(ball4,rooma), at(ball5,rooma), at(ball6,rooma), at(ball7,rooma), at(ball8,rooma), at(ball9,rooma), at-robby(roomb), ball(ball1), ball(ball10), ball(ball11), ball(ball12), ball(ball13), ball(ball14), ball(ball15), ball(ball16), ball(ball17), ball(ball18), ball(ball19), ball(ball2), ball(ball20), ball(ball21), ball(ball22), ball(ball23), ball(ball24), ball(ball3), ball(ball4), ball(ball5), ball(ball6), ball(ball7), ball(ball8), ball(ball9), free(left), free(right), gripper(left), gripper(right), room(rooma), room(roomb)]
2023-09-08 08:52:33,083 [INFO] [policy_search_with_augmented_states:407] Applicable actions = [move(roomb, rooma), move(roomb, roomb)]
2023-09-08 08:52:33,084 [INFO] [_main:70] 1 executed action(s) and 50 state evaluations(s) in 0.158 second(s)
2023-09-08 08:52:33,084 [INFO] [_main:75] [1m[31mFailed to find a plan for ../data/pddl/gripper/test/prob11.pddl[0m
2023-09-08 08:52:33,084 [INFO] [_main:81] 1: move(rooma, roomb) (value change: 101.52 -> 90.84 D)
2023-09-08 08:52:33,084 [INFO] [<module>:123] All tasks completed in 96.246 second(s)
