2023-09-07 12:50:22,613 [INFO] [<module>:116] Call: plan_multiple.py --domains blocks gripper
2023-09-07 12:50:22,623 [INFO] [_main:57] Model '../lightning_logs/gripper/version_0/checkpoints/epoch=15-step=576-validation_loss=0.007350483909249306.ckpt' loaded in 0.011 second(s)
2023-09-07 12:50:22,624 [INFO] [_main:59] Loading PDDL files: domain='../data/pddl/gripper/test/domain.pddl', problem='../data/pddl/gripper/test/prob09.pddl'
2023-09-07 12:50:22,718 [INFO] [load_pddl_problem_with_augmented_states:60] Predicates: static={'room', 'gripper', 'ball'}, dynamic={'at-robby', 'at', 'free', 'carry'}
2023-09-07 12:50:22,719 [INFO] [_main:64] Executing policy (max_length=500)
2023-09-07 12:50:22,719 [INFO] [compute_traces_with_augmented_states:444] 24 object(s), obj_encoding={'rooma': 0, 'roomb': 1, 'ball20': 2, 'ball19': 3, 'ball18': 4, 'ball17': 5, 'ball16': 6, 'ball15': 7, 'ball14': 8, 'ball13': 9, 'ball12': 10, 'ball11': 11, 'ball10': 12, 'ball9': 13, 'ball8': 14, 'ball7': 15, 'ball6': 16, 'ball5': 17, 'ball4': 18, 'ball3': 19, 'ball2': 20, 'ball1': 21, 'left': 22, 'right': 23, 0: 'rooma', 1: 'roomb', 2: 'ball20', 3: 'ball19', 4: 'ball18', 5: 'ball17', 6: 'ball16', 7: 'ball15', 8: 'ball14', 9: 'ball13', 10: 'ball12', 11: 'ball11', 12: 'ball10', 13: 'ball9', 14: 'ball8', 15: 'ball7', 16: 'ball6', 17: 'ball5', 18: 'ball4', 19: 'ball3', 20: 'ball2', 21: 'ball1', 22: 'left', 23: 'right'}
2023-09-07 12:50:22,719 [INFO] [policy_search_with_augmented_states:369] goals=(at(ball20,roomb) and at(ball19,roomb) and at(ball18,roomb) and at(ball17,roomb) and at(ball16,roomb) and at(ball15,roomb) and at(ball14,roomb) and at(ball13,roomb) and at(ball12,roomb) and at(ball11,roomb) and at(ball10,roomb) and at(ball9,roomb) and at(ball8,roomb) and at(ball7,roomb) and at(ball6,roomb) and at(ball5,roomb) and at(ball4,roomb) and at(ball3,roomb) and at(ball2,roomb) and at(ball1,roomb))
2023-09-07 12:50:22,847 [INFO] [policy_search_with_augmented_states:406] No applicable action that yields unvisited state for current_state=Model[at(ball1,rooma), at(ball10,rooma), at(ball11,rooma), at(ball12,rooma), at(ball13,rooma), at(ball14,rooma), at(ball15,rooma), at(ball16,rooma), at(ball17,rooma), at(ball18,rooma), at(ball19,rooma), at(ball2,rooma), at(ball20,rooma), at(ball3,rooma), at(ball4,rooma), at(ball5,rooma), at(ball6,rooma), at(ball7,rooma), at(ball8,rooma), at(ball9,rooma), at-robby(roomb), ball(ball1), ball(ball10), ball(ball11), ball(ball12), ball(ball13), ball(ball14), ball(ball15), ball(ball16), ball(ball17), ball(ball18), ball(ball19), ball(ball2), ball(ball20), ball(ball3), ball(ball4), ball(ball5), ball(ball6), ball(ball7), ball(ball8), ball(ball9), free(left), free(right), gripper(left), gripper(right), room(rooma), room(roomb)]
2023-09-07 12:50:22,850 [INFO] [policy_search_with_augmented_states:407] Applicable actions = [move(roomb, roomb), move(roomb, rooma)]
2023-09-07 12:50:22,850 [INFO] [_main:70] 1 executed action(s) and 42 state evaluations(s) in 0.132 second(s)
2023-09-07 12:50:22,850 [INFO] [_main:75] [1m[31mFailed to find a plan for ../data/pddl/gripper/test/prob09.pddl[0m
2023-09-07 12:50:22,850 [INFO] [_main:81] 1: move(rooma, roomb) (value change: 90.04 -> 76.28 D)
2023-09-07 12:50:22,851 [INFO] [<module>:123] All tasks completed in 27.562 second(s)
2023-09-08 08:52:32,129 [INFO] [<module>:116] Call: plan_multiple.py --domains blocks gripper delivery
2023-09-08 08:52:32,140 [INFO] [_main:57] Model '../lightning_logs/gripper/version_0/checkpoints/epoch=10-step=396-validation_loss=0.018513213843107224.ckpt' loaded in 0.011 second(s)
2023-09-08 08:52:32,140 [INFO] [_main:59] Loading PDDL files: domain='../data/pddl/gripper/test/domain.pddl', problem='../data/pddl/gripper/test/prob09.pddl'
2023-09-08 08:52:32,232 [INFO] [load_pddl_problem_with_augmented_states:60] Predicates: static={'room', 'gripper', 'ball'}, dynamic={'at', 'at-robby', 'carry', 'free'}
2023-09-08 08:52:32,232 [INFO] [_main:64] Executing policy (max_length=500)
2023-09-08 08:52:32,232 [INFO] [compute_traces_with_augmented_states:444] 24 object(s), obj_encoding={'rooma': 0, 'roomb': 1, 'ball20': 2, 'ball19': 3, 'ball18': 4, 'ball17': 5, 'ball16': 6, 'ball15': 7, 'ball14': 8, 'ball13': 9, 'ball12': 10, 'ball11': 11, 'ball10': 12, 'ball9': 13, 'ball8': 14, 'ball7': 15, 'ball6': 16, 'ball5': 17, 'ball4': 18, 'ball3': 19, 'ball2': 20, 'ball1': 21, 'left': 22, 'right': 23, 0: 'rooma', 1: 'roomb', 2: 'ball20', 3: 'ball19', 4: 'ball18', 5: 'ball17', 6: 'ball16', 7: 'ball15', 8: 'ball14', 9: 'ball13', 10: 'ball12', 11: 'ball11', 12: 'ball10', 13: 'ball9', 14: 'ball8', 15: 'ball7', 16: 'ball6', 17: 'ball5', 18: 'ball4', 19: 'ball3', 20: 'ball2', 21: 'ball1', 22: 'left', 23: 'right'}
2023-09-08 08:52:32,232 [INFO] [policy_search_with_augmented_states:369] goals=(at(ball20,roomb) and at(ball19,roomb) and at(ball18,roomb) and at(ball17,roomb) and at(ball16,roomb) and at(ball15,roomb) and at(ball14,roomb) and at(ball13,roomb) and at(ball12,roomb) and at(ball11,roomb) and at(ball10,roomb) and at(ball9,roomb) and at(ball8,roomb) and at(ball7,roomb) and at(ball6,roomb) and at(ball5,roomb) and at(ball4,roomb) and at(ball3,roomb) and at(ball2,roomb) and at(ball1,roomb))
2023-09-08 08:52:32,350 [INFO] [policy_search_with_augmented_states:406] No applicable action that yields unvisited state for current_state=Model[at(ball1,rooma), at(ball10,rooma), at(ball11,rooma), at(ball12,rooma), at(ball13,rooma), at(ball14,rooma), at(ball15,rooma), at(ball16,rooma), at(ball17,rooma), at(ball18,rooma), at(ball19,rooma), at(ball2,rooma), at(ball20,rooma), at(ball3,rooma), at(ball4,rooma), at(ball5,rooma), at(ball6,rooma), at(ball7,rooma), at(ball8,rooma), at(ball9,rooma), at-robby(roomb), ball(ball1), ball(ball10), ball(ball11), ball(ball12), ball(ball13), ball(ball14), ball(ball15), ball(ball16), ball(ball17), ball(ball18), ball(ball19), ball(ball2), ball(ball20), ball(ball3), ball(ball4), ball(ball5), ball(ball6), ball(ball7), ball(ball8), ball(ball9), free(left), free(right), gripper(left), gripper(right), room(rooma), room(roomb)]
2023-09-08 08:52:32,353 [INFO] [policy_search_with_augmented_states:407] Applicable actions = [move(roomb, rooma), move(roomb, roomb)]
2023-09-08 08:52:32,353 [INFO] [_main:70] 1 executed action(s) and 42 state evaluations(s) in 0.121 second(s)
2023-09-08 08:52:32,353 [INFO] [_main:75] [1m[31mFailed to find a plan for ../data/pddl/gripper/test/prob09.pddl[0m
2023-09-08 08:52:32,353 [INFO] [_main:81] 1: move(rooma, roomb) (value change: 85.07 -> 75.67 D)
2023-09-08 08:52:32,354 [INFO] [<module>:123] All tasks completed in 95.516 second(s)
